# Import data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bank-full.csv', sep = ';')

# Examine data

In [3]:
df.shape

(45211, 17)

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
df.describe(include='all')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211,45211,45211,45211,45211.000000,45211,45211,45211,45211.000000,45211,45211.000000,45211.000000,45211.000000,45211.000000,45211,45211
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,blue-collar,married,secondary,no,NaN,yes,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,9732,27214,23202,44396,NaN,25130,37967,29285,NaN,13766,NaN,NaN,NaN,NaN,36959,39922
mean,40.936210,NaN,NaN,NaN,NaN,1362.272058,NaN,NaN,NaN,15.806419,NaN,258.163080,2.763841,40.197828,0.580323,NaN,NaN
std,10.618762,NaN,NaN,NaN,NaN,3044.765829,NaN,NaN,NaN,8.322476,NaN,257.527812,3.098021,100.128746,2.303441,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-8019.000000,NaN,NaN,NaN,1.000000,NaN,0.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,33.000000,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,8.000000,NaN,103.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,448.000000,NaN,NaN,NaN,16.000000,NaN,180.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,48.000000,NaN,NaN,NaN,NaN,1428.000000,NaN,NaN,NaN,21.000000,NaN,319.000000,3.000000,-1.000000,0.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,102127.000000,NaN,NaN,NaN,31.000000,NaN,4918.000000,63.000000,871.000000,275.000000,NaN,NaN

In [6]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

**Observations**

 - There are no nulls.
 - The data is as expected from bank-names.txt

# Feature Engineering

In [7]:
# Get dummies dataframe on categorical data
job_dummies = pd.get_dummies(df.job)
print(job_dummies.columns)
job_dummies = job_dummies.add_prefix('job_')
job_dummies.drop('job_unknown', axis=1, inplace=True)
job_dummies.head()

Index(['admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management',
       'retired', 'self-employed', 'services', 'student', 'technician',
       'unemployed', 'unknown'],
      dtype='object')

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0

In [8]:
marital_dummies = pd.get_dummies(df.marital)
print(marital_dummies.columns)
marital_dummies = marital_dummies.add_prefix('marital_')
marital_dummies.drop('marital_divorced', axis=1, inplace=True)
marital_dummies.head()

Index(['divorced', 'married', 'single'], dtype='object')

   marital_married  marital_single
0                1               0
1                0               1
2                1               0
3                1               0
4                0               1

In [9]:
education_dummies = pd.get_dummies(df.education)
print(education_dummies.columns)
education_dummies = education_dummies.add_prefix('education_')
education_dummies.drop('education_unknown', axis=1, inplace=True)
education_dummies.head()

Index(['primary', 'secondary', 'tertiary', 'unknown'], dtype='object')

   education_primary  education_secondary  education_tertiary
0                  0                    0                   1
1                  0                    1                   0
2                  0                    1                   0
3                  0                    0                   0
4                  0                    0                   0

In [10]:
default_dummies = pd.get_dummies(df.default)
print(default_dummies.columns)
default_dummies = default_dummies.add_prefix('default_')
default_dummies.drop('default_no', axis=1, inplace=True)
default_dummies.head()

Index(['no', 'yes'], dtype='object')

   default_yes
0            0
1            0
2            0
3            0
4            0

In [11]:
loan_dummies = pd.get_dummies(df.loan)
print(loan_dummies.columns)
loan_dummies = loan_dummies.add_prefix('loan_')
loan_dummies.drop('loan_no', axis=1, inplace=True)
loan_dummies.head()

Index(['no', 'yes'], dtype='object')

   loan_yes
0         0
1         0
2         1
3         0
4         0

In [12]:
contact_dummies = pd.get_dummies(df.contact)
print(contact_dummies.columns)
contact_dummies = contact_dummies.add_prefix('contact_')
contact_dummies.drop('contact_unknown', axis=1, inplace=True)
contact_dummies.head()

Index(['cellular', 'telephone', 'unknown'], dtype='object')

   contact_cellular  contact_telephone
0                 0                  0
1                 0                  0
2                 0                  0
3                 0                  0
4                 0                  0

In [13]:
month_dummies = pd.get_dummies(df.month)
print(month_dummies.columns)
month_dummies = month_dummies.add_prefix('month_')
month_dummies.drop('month_dec', axis=1, inplace=True)
month_dummies.head()

Index(['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov',
       'oct', 'sep'],
      dtype='object')

,month_apr,month_aug,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0

In [14]:
contact_dummies = pd.get_dummies(df.contact)
print(contact_dummies.columns)
contact_dummies = contact_dummies.add_prefix('contact_')
contact_dummies.drop('contact_unknown', axis=1, inplace=True)
contact_dummies.head()

Index(['cellular', 'telephone', 'unknown'], dtype='object')

   contact_cellular  contact_telephone
0                 0                  0
1                 0                  0
2                 0                  0
3                 0                  0
4                 0                  0

In [15]:
poutcome_dummies = pd.get_dummies(df.poutcome)
print(poutcome_dummies.columns)
poutcome_dummies = poutcome_dummies.add_prefix('poutcome_')
poutcome_dummies.drop('poutcome_unknown', axis=1, inplace=True)
poutcome_dummies.head()

Index(['failure', 'other', 'success', 'unknown'], dtype='object')

   poutcome_failure  poutcome_other  poutcome_success
0                 0               0                 0
1                 0               0                 0
2                 0               0                 0
3                 0               0                 0
4                 0               0                 0

In [16]:
# Combined DF of all categorical cols
categorical_cols = pd.concat([job_dummies, marital_dummies, education_dummies,
                              default_dummies, loan_dummies, contact_dummies, 
                             poutcome_dummies, month_dummies],
                            axis=1)
print(categorical_cols.shape)
categorical_cols.head()

(45211, 34)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_aug,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
df = pd.concat([df, categorical_cols], axis=1)
print(df.shape)
df.head()

(45211, 51)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,month_aug,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,1,0,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,1,0,0,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,1,0,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,1,0,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,0,0,0,0,0,0,1,0,0,0

In [18]:
print(df.dtypes)
print(df.columns)

age                     int64
job                    object
marital                object
education              object
default                object
balance                 int64
housing                object
loan                   object
contact                object
day                     int64
month                  object
duration                int64
campaign                int64
pdays                   int64
previous                int64
poutcome               object
y                      object
job_admin.              uint8
job_blue-collar         uint8
job_entrepreneur        uint8
job_housemaid           uint8
job_management          uint8
job_retired             uint8
job_self-employed       uint8
job_services            uint8
job_student             uint8
job_technician          uint8
job_unemployed          uint8
marital_married         uint8
marital_single          uint8
education_primary       uint8
education_secondary     uint8
education_tertiary      uint8
default_yes             uint8
loan_yes                uint8
contact_cellular        uint8
contact_telephone       uint8
poutcome_failure        uint8
poutcome_other          uint8
poutcome_success        uint8
month_apr               uint8
month_aug               uint8
month_feb               uint8
month_jan               uint8
month_jul               uint8
month_jun               uint8
month_mar               uint8
month_may               uint8
month_nov               uint8
month_oct               uint8
month_sep               uint8
dtype: object
Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y', 'job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'default_yes', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'poutcome_failure', 'poutcome_other', 'poutcome_success', 'month_apr',
       'month_aug', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep'],
      dtype='object')

In [19]:
X = df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays',
       'previous', 'job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'default_yes', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'poutcome_failure', 'poutcome_other', 'poutcome_success', 'month_apr',
       'month_aug', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep']]
X.dtypes

age                    int64
balance                int64
day                    int64
duration               int64
campaign               int64
pdays                  int64
previous               int64
job_admin.             uint8
job_blue-collar        uint8
job_entrepreneur       uint8
job_housemaid          uint8
job_management         uint8
job_retired            uint8
job_self-employed      uint8
job_services           uint8
job_student            uint8
job_technician         uint8
job_unemployed         uint8
marital_married        uint8
marital_single         uint8
education_primary      uint8
education_secondary    uint8
education_tertiary     uint8
default_yes            uint8
loan_yes               uint8
contact_cellular       uint8
contact_telephone      uint8
poutcome_failure       uint8
poutcome_other         uint8
poutcome_success       uint8
month_apr              uint8
month_aug              uint8
month_feb              uint8
month_jan              uint8
month_jul              uint8
month_jun              uint8
month_mar              uint8
month_may              uint8
month_nov              uint8
month_oct              uint8
month_sep              uint8
dtype: object

In [20]:
# Numpy format for kera models

X = X.astype('float').as_matrix()
y = df['y'].apply(lambda row: 1 if row == 'yes' else 0).as_matrix()

C:\Users\imasl\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\imasl\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

# Model creation

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.15)

In [22]:
# import panda, keras and tensorflow
import tensorflow as tf
import keras
from keras import models, layers

Using TensorFlow backend.

In [23]:
# Use a custom metricfunction
def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    keras.backend.get_session().run(tf.local_variables_initializer())
    return auc

In [24]:
import keras
from keras.models import Sequential
from keras import models, layers

model = Sequential()
model.add(layers.Dense(16, activation='relu', input_shape=(41,)))
model.add(layers.Dropout(0.1))
model.add(layers.Dense(8, activation='relu'))
model.add(layers.Dropout(0.1))
model.add(layers.Dense(4, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy', auc])

model.fit(X_train, y_train, epochs=200, validation_split = 0.1, batch_size=250)

Train on 34586 samples, validate on 3843 samples
Epoch 1/200
34586/34586 [==============================] - 1s 39us/step - loss: 2.9206 - acc: 0.7823 - auc: 0.4802 - val_loss: 1.7650 - val_acc: 0.8899 - val_auc: 0.4829
Epoch 2/200
34586/34586 [==============================] - 1s 20us/step - loss: 1.6527 - acc: 0.8619 - auc: 0.4829 - val_loss: 0.6065 - val_acc: 0.8899 - val_auc: 0.4805
Epoch 3/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.6899 - acc: 0.8686 - auc: 0.4874 - val_loss: 0.5127 - val_acc: 0.8899 - val_auc: 0.4941
Epoch 4/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.5914 - acc: 0.8730 - auc: 0.4985 - val_loss: 0.4713 - val_acc: 0.8899 - val_auc: 0.5023
Epoch 5/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.5146 - acc: 0.8766 - auc: 0.5055 - val_loss: 0.4390 - val_acc: 0.8899 - val_auc: 0.5082
Epoch 6/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.4608 - acc: 0.8778 - auc: 0.5108 - val_loss: 0.4134 - val_acc: 0.8899 - val_auc: 0.5131
Epoch 7/200
34586/34586 [==============================] - 1s 41us/step - loss: 0.4275 - acc: 0.8800 - auc: 0.5152 - val_loss: 0.3906 - val_acc: 0.8899 - val_auc: 0.5172
Epoch 8/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.4085 - acc: 0.8805 - auc: 0.5190 - val_loss: 0.3764 - val_acc: 0.8899 - val_auc: 0.5210
Epoch 9/200
34586/34586 [==============================] - 2s 47us/step - loss: 0.3915 - acc: 0.8809 - auc: 0.5229 - val_loss: 0.3639 - val_acc: 0.8899 - val_auc: 0.5247
Epoch 10/200
34586/34586 [==============================] - 2s 44us/step - loss: 0.3824 - acc: 0.8810 - auc: 0.5264 - val_loss: 0.3543 - val_acc: 0.8899 - val_auc: 0.5280
Epoch 11/200
34586/34586 [==============================] - 1s 35us/step - loss: 0.3733 - acc: 0.8813 - auc: 0.5296 - val_loss: 0.3469 - val_acc: 0.8899 - val_auc: 0.5313
Epoch 12/200
34586/34586 [==============================] - 1s 40us/step - loss: 0.3673 - acc: 0.8810 - auc: 0.5329 - val_loss: 0.3418 - val_acc: 0.8899 - val_auc: 0.5344
Epoch 13/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.3629 - acc: 0.8811 - auc: 0.5359 - val_loss: 0.3362 - val_acc: 0.8899 - val_auc: 0.5372
Epoch 14/200
34586/34586 [==============================] - 1s 31us/step - loss: 0.3583 - acc: 0.8813 - auc: 0.5388 - val_loss: 0.3343 - val_acc: 0.8899 - val_auc: 0.5401
Epoch 15/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.3543 - acc: 0.8812 - auc: 0.5414 - val_loss: 0.3278 - val_acc: 0.8899 - val_auc: 0.5427
Epoch 16/200
34586/34586 [==============================] - 2s 46us/step - loss: 0.3506 - acc: 0.8813 - auc: 0.5440 - val_loss: 0.3257 - val_acc: 0.8899 - val_auc: 0.5453
Epoch 17/200
34586/34586 [==============================] - 1s 32us/step - loss: 0.3483 - acc: 0.8813 - auc: 0.5466 - val_loss: 0.3226 - val_acc: 0.8899 - val_auc: 0.5479
Epoch 18/200
34586/34586 [==============================] - 1s 37us/step - loss: 0.3454 - acc: 0.8812 - auc: 0.5490 - val_loss: 0.3174 - val_acc: 0.8899 - val_auc: 0.5505
Epoch 19/200
34586/34586 [==============================] - 1s 41us/step - loss: 0.3442 - acc: 0.8813 - auc: 0.5518 - val_loss: 0.3178 - val_acc: 0.8899 - val_auc: 0.5530
Epoch 20/200
34586/34586 [==============================] - 2s 54us/step - loss: 0.3400 - acc: 0.8814 - auc: 0.5544 - val_loss: 0.3162 - val_acc: 0.8899 - val_auc: 0.5557
Epoch 21/200
34586/34586 [==============================] - 3s 73us/step - loss: 0.3404 - acc: 0.8815 - auc: 0.5570 - val_loss: 0.3147 - val_acc: 0.8899 - val_auc: 0.5585
Epoch 22/200
34586/34586 [==============================] - 2s 65us/step - loss: 0.3375 - acc: 0.8814 - auc: 0.5600 - val_loss: 0.3123 - val_acc: 0.8899 - val_auc: 0.5613
Epoch 23/200
34586/34586 [==============================] - 2s 70us/step - loss: 0.3360 - acc: 0.8813 - auc: 0.5628 - val_loss: 0.3103 - val_acc: 0.8899 - val_auc: 0.5643
Epoch 24/200
34586/34586 [==============================] - 2s 61us/step - loss: 0.3341 - acc: 0.8813 - auc: 0.5658 - val_loss: 0.3051 - val_acc: 0.8899 - val_auc: 0.5675
Epoch 25/200
34586/34586 [==============================] - 2s 56us/step - loss: 0.3321 - acc: 0.8814 - auc: 0.5693 - val_loss: 0.3027 - val_acc: 0.8899 - val_auc: 0.5711
Epoch 26/200
34586/34586 [==============================] - 1s 43us/step - loss: 0.3295 - acc: 0.8815 - auc: 0.5731 - val_loss: 0.3003 - val_acc: 0.8899 - val_auc: 0.5751
Epoch 27/200
34586/34586 [==============================] - 2s 46us/step - loss: 0.3280 - acc: 0.8814 - auc: 0.5772 - val_loss: 0.2984 - val_acc: 0.8899 - val_auc: 0.5795
Epoch 28/200
34586/34586 [==============================] - 2s 55us/step - loss: 0.3254 - acc: 0.8813 - auc: 0.5817 - val_loss: 0.2947 - val_acc: 0.8899 - val_auc: 0.5840
Epoch 29/200
34586/34586 [==============================] - 1s 39us/step - loss: 0.3223 - acc: 0.8814 - auc: 0.5866 - val_loss: 0.2928 - val_acc: 0.8899 - val_auc: 0.5890
Epoch 30/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.3211 - acc: 0.8814 - auc: 0.5914 - val_loss: 0.2946 - val_acc: 0.8899 - val_auc: 0.5939
Epoch 31/200
34586/34586 [==============================] - 2s 44us/step - loss: 0.3163 - acc: 0.8814 - auc: 0.5964 - val_loss: 0.2821 - val_acc: 0.8899 - val_auc: 0.5991
Epoch 32/200
34586/34586 [==============================] - 1s 33us/step - loss: 0.3155 - acc: 0.8815 - auc: 0.6018 - val_loss: 0.2843 - val_acc: 0.8899 - val_auc: 0.6045
Epoch 33/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.3124 - acc: 0.8813 - auc: 0.6072 - val_loss: 0.2838 - val_acc: 0.8899 - val_auc: 0.6100
Epoch 34/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.3100 - acc: 0.8813 - auc: 0.6127 - val_loss: 0.2809 - val_acc: 0.8899 - val_auc: 0.6155
Epoch 35/200
34586/34586 [==============================] - 1s 33us/step - loss: 0.3050 - acc: 0.8815 - auc: 0.6183 - val_loss: 0.2717 - val_acc: 0.8899 - val_auc: 0.6211
Epoch 36/200
34586/34586 [==============================] - 2s 45us/step - loss: 0.3043 - acc: 0.8818 - auc: 0.6239 - val_loss: 0.2759 - val_acc: 0.8899 - val_auc: 0.6266
Epoch 37/200
34586/34586 [==============================] - 1s 41us/step - loss: 0.3030 - acc: 0.8816 - auc: 0.6293 - val_loss: 0.2781 - val_acc: 0.8899 - val_auc: 0.6319
Epoch 38/200
34586/34586 [==============================] - 2s 45us/step - loss: 0.2993 - acc: 0.8819 - auc: 0.6345 - val_loss: 0.2713 - val_acc: 0.8899 - val_auc: 0.6372
Epoch 39/200
34586/34586 [==============================] - 2s 53us/step - loss: 0.2925 - acc: 0.8843 - auc: 0.6400 - val_loss: 0.2662 - val_acc: 0.8920 - val_auc: 0.6428
Epoch 40/200
34586/34586 [==============================] - 2s 46us/step - loss: 0.2892 - acc: 0.8851 - auc: 0.6455 - val_loss: 0.2567 - val_acc: 0.8912 - val_auc: 0.6482
Epoch 41/200
34586/34586 [==============================] - 2s 45us/step - loss: 0.2874 - acc: 0.8854 - auc: 0.6509 - val_loss: 0.2563 - val_acc: 0.8918 - val_auc: 0.6536
Epoch 42/200
34586/34586 [==============================] - 2s 48us/step - loss: 0.2855 - acc: 0.8858 - auc: 0.6562 - val_loss: 0.2547 - val_acc: 0.8920 - val_auc: 0.6587
Epoch 43/200
34586/34586 [==============================] - 2s 49us/step - loss: 0.2824 - acc: 0.8863 - auc: 0.6613 - val_loss: 0.2540 - val_acc: 0.8905 - val_auc: 0.6637
Epoch 44/200
34586/34586 [==============================] - 2s 46us/step - loss: 0.2811 - acc: 0.8848 - auc: 0.6662 - val_loss: 0.2544 - val_acc: 0.8910 - val_auc: 0.6686
Epoch 45/200
34586/34586 [==============================] - 2s 45us/step - loss: 0.2779 - acc: 0.8864 - auc: 0.6709 - val_loss: 0.2453 - val_acc: 0.8936 - val_auc: 0.6733
Epoch 46/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2778 - acc: 0.8853 - auc: 0.6756 - val_loss: 0.2466 - val_acc: 0.8918 - val_auc: 0.6779
Epoch 47/200
34586/34586 [==============================] - 2s 55us/step - loss: 0.2766 - acc: 0.8850 - auc: 0.6800 - val_loss: 0.2459 - val_acc: 0.8946 - val_auc: 0.6822
Epoch 48/200
34586/34586 [==============================] - 2s 46us/step - loss: 0.2744 - acc: 0.8850 - auc: 0.6844 - val_loss: 0.2434 - val_acc: 0.8933 - val_auc: 0.6865

Epoch 49/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2730 - acc: 0.8858 - auc: 0.6886 - val_loss: 0.2464 - val_acc: 0.8910 - val_auc: 0.6906
Epoch 50/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2710 - acc: 0.8857 - auc: 0.6926 - val_loss: 0.2399 - val_acc: 0.8923 - val_auc: 0.6946
Epoch 51/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2702 - acc: 0.8843 - auc: 0.6965 - val_loss: 0.2440 - val_acc: 0.8946 - val_auc: 0.6985
Epoch 52/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2675 - acc: 0.8860 - auc: 0.7004 - val_loss: 0.2403 - val_acc: 0.8915 - val_auc: 0.7023
Epoch 53/200
34586/34586 [==============================] - 1s 36us/step - loss: 0.2655 - acc: 0.8859 - auc: 0.7041 - val_loss: 0.2350 - val_acc: 0.8946 - val_auc: 0.7060
Epoch 54/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2672 - acc: 0.8865 - auc: 0.7077 - val_loss: 0.2374 - val_acc: 0.8957 - val_auc: 0.7095
Epoch 55/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2607 - acc: 0.8885 - auc: 0.7113 - val_loss: 0.2382 - val_acc: 0.8923 - val_auc: 0.7131
Epoch 56/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2638 - acc: 0.8871 - auc: 0.7147 - val_loss: 0.2340 - val_acc: 0.8933 - val_auc: 0.7164
Epoch 57/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2592 - acc: 0.8874 - auc: 0.7181 - val_loss: 0.2313 - val_acc: 0.8936 - val_auc: 0.7198
Epoch 58/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2587 - acc: 0.8887 - auc: 0.7215 - val_loss: 0.2285 - val_acc: 0.8964 - val_auc: 0.7231
Epoch 59/200
34586/34586 [==============================] - ETA: 0s - loss: 0.2558 - acc: 0.8908 - auc: 0.724 - 1s 30us/step - loss: 0.2566 - acc: 0.8907 - auc: 0.7247 - val_loss: 0.2301 - val_acc: 0.8967 - val_auc: 0.7263
Epoch 60/200
34586/34586 [==============================] - 1s 33us/step - loss: 0.2572 - acc: 0.8880 - auc: 0.7279 - val_loss: 0.2309 - val_acc: 0.8949 - val_auc: 0.7294
Epoch 61/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2598 - acc: 0.8871 - auc: 0.7308 - val_loss: 0.2284 - val_acc: 0.8983 - val_auc: 0.7323
Epoch 62/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2500 - acc: 0.8914 - auc: 0.7338 - val_loss: 0.2266 - val_acc: 0.8996 - val_auc: 0.7354
Epoch 63/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2510 - acc: 0.8902 - auc: 0.7368 - val_loss: 0.2299 - val_acc: 0.9003 - val_auc: 0.7383
Epoch 64/200
34586/34586 [==============================] - 1s 36us/step - loss: 0.2547 - acc: 0.8909 - auc: 0.7397 - val_loss: 0.2259 - val_acc: 0.9011 - val_auc: 0.7410
Epoch 65/200
34586/34586 [==============================] - 1s 41us/step - loss: 0.2492 - acc: 0.8920 - auc: 0.7423 - val_loss: 0.2266 - val_acc: 0.8957 - val_auc: 0.7437
Epoch 66/200
34586/34586 [==============================] - 1s 32us/step - loss: 0.2496 - acc: 0.8908 - auc: 0.7451 - val_loss: 0.2244 - val_acc: 0.9029 - val_auc: 0.7464
Epoch 67/200
34586/34586 [==============================] - 1s 32us/step - loss: 0.2464 - acc: 0.8932 - auc: 0.7477 - val_loss: 0.2244 - val_acc: 0.9037 - val_auc: 0.7490
Epoch 68/200
34586/34586 [==============================] - 1s 37us/step - loss: 0.2467 - acc: 0.8925 - auc: 0.7503 - val_loss: 0.2257 - val_acc: 0.8972 - val_auc: 0.7516
Epoch 69/200
34586/34586 [==============================] - 1s 32us/step - loss: 0.2466 - acc: 0.8915 - auc: 0.7528 - val_loss: 0.2245 - val_acc: 0.9019 - val_auc: 0.7541
Epoch 70/200
34586/34586 [==============================] - 1s 39us/step - loss: 0.2465 - acc: 0.8913 - auc: 0.7552 - val_loss: 0.2228 - val_acc: 0.9027 - val_auc: 0.7564
Epoch 71/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2438 - acc: 0.8933 - auc: 0.7576 - val_loss: 0.2290 - val_acc: 0.9027 - val_auc: 0.7588
Epoch 72/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2440 - acc: 0.8919 - auc: 0.7599 - val_loss: 0.2231 - val_acc: 0.8972 - val_auc: 0.7611
Epoch 73/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2463 - acc: 0.8911 - auc: 0.7622 - val_loss: 0.2314 - val_acc: 0.8983 - val_auc: 0.7632
Epoch 74/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2446 - acc: 0.8927 - auc: 0.7643 - val_loss: 0.2265 - val_acc: 0.9022 - val_auc: 0.7653
Epoch 75/200
34586/34586 [==============================] - 1s 39us/step - loss: 0.2427 - acc: 0.8926 - auc: 0.7664 - val_loss: 0.2229 - val_acc: 0.9011 - val_auc: 0.7674
Epoch 76/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2446 - acc: 0.8941 - auc: 0.7684 - val_loss: 0.2245 - val_acc: 0.9016 - val_auc: 0.7694
Epoch 77/200
34586/34586 [==============================] - 1s 22us/step - loss: 0.2440 - acc: 0.8928 - auc: 0.7704 - val_loss: 0.2252 - val_acc: 0.9040 - val_auc: 0.7714
Epoch 78/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2472 - acc: 0.8919 - auc: 0.7723 - val_loss: 0.2405 - val_acc: 0.8962 - val_auc: 0.7732
Epoch 79/200
34586/34586 [==============================] - 2s 45us/step - loss: 0.2456 - acc: 0.8921 - auc: 0.7741 - val_loss: 0.2247 - val_acc: 0.9022 - val_auc: 0.7750
Epoch 80/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2468 - acc: 0.8922 - auc: 0.7759 - val_loss: 0.2277 - val_acc: 0.9009 - val_auc: 0.7767
Epoch 81/200
34586/34586 [==============================] - 1s 37us/step - loss: 0.2414 - acc: 0.8943 - auc: 0.7776 - val_loss: 0.2237 - val_acc: 0.9029 - val_auc: 0.7785
Epoch 82/200
34586/34586 [==============================] - 2s 53us/step - loss: 0.2436 - acc: 0.8927 - auc: 0.7793 - val_loss: 0.2200 - val_acc: 0.9042 - val_auc: 0.7802
Epoch 83/200
34586/34586 [==============================] - 2s 66us/step - loss: 0.2412 - acc: 0.8937 - auc: 0.7810 - val_loss: 0.2246 - val_acc: 0.9009 - val_auc: 0.7819
Epoch 84/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2411 - acc: 0.8933 - auc: 0.7827 - val_loss: 0.2213 - val_acc: 0.9022 - val_auc: 0.7835
Epoch 85/200
34586/34586 [==============================] - 1s 32us/step - loss: 0.2391 - acc: 0.8940 - auc: 0.7843 - val_loss: 0.2210 - val_acc: 0.9022 - val_auc: 0.7851
Epoch 86/200
34586/34586 [==============================] - 1s 28us/step - loss: 0.2398 - acc: 0.8945 - auc: 0.7859 - val_loss: 0.2214 - val_acc: 0.8993 - val_auc: 0.7867
Epoch 87/200
34586/34586 [==============================] - 2s 49us/step - loss: 0.2397 - acc: 0.8936 - auc: 0.7875 - val_loss: 0.2248 - val_acc: 0.9009 - val_auc: 0.7882
Epoch 88/200
34586/34586 [==============================] - 2s 47us/step - loss: 0.2412 - acc: 0.8927 - auc: 0.7889 - val_loss: 0.2220 - val_acc: 0.9035 - val_auc: 0.7897
Epoch 89/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2445 - acc: 0.8935 - auc: 0.7904 - val_loss: 0.2227 - val_acc: 0.8990 - val_auc: 0.7911
Epoch 90/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2398 - acc: 0.8939 - auc: 0.7918 - val_loss: 0.2230 - val_acc: 0.9019 - val_auc: 0.7925
Epoch 91/200
34586/34586 [==============================] - 1s 33us/step - loss: 0.2448 - acc: 0.8928 - auc: 0.7931 - val_loss: 0.2316 - val_acc: 0.8998 - val_auc: 0.7938
Epoch 92/200
34586/34586 [==============================] - 1s 22us/step - loss: 0.2417 - acc: 0.8956 - auc: 0.7944 - val_loss: 0.2212 - val_acc: 0.9011 - val_auc: 0.7951
Epoch 93/200
34586/34586 [==============================] - 1s 20us/step - loss: 0.2385 - acc: 0.8943 - auc: 0.7957 - val_loss: 0.2264 - val_acc: 0.9006 - val_auc: 0.7964
Epoch 94/200
34586/34586 [==============================] - 1s 43us/step - loss: 0.2409 - acc: 0.8926 - auc: 0.7970 - val_loss: 0.2204 - val_acc: 0.9042 - val_auc: 0.7977
Epoch 95/200
34586/34586 [==============================] - 1s 39us/step - loss: 0.2367 - acc: 0.8963 - auc: 0.7983 - val_loss: 0.2201 - val_acc: 0.9037 - val_auc: 0.7989
Epoch 96/200

34586/34586 [==============================] - 2s 62us/step - loss: 0.2450 - acc: 0.8927 - auc: 0.7995 - val_loss: 0.2193 - val_acc: 0.9040 - val_auc: 0.8001
Epoch 97/200
34586/34586 [==============================] - 2s 60us/step - loss: 0.2375 - acc: 0.8946 - auc: 0.8007 - val_loss: 0.2190 - val_acc: 0.9037 - val_auc: 0.8013
Epoch 98/200
34586/34586 [==============================] - 2s 54us/step - loss: 0.2372 - acc: 0.8972 - auc: 0.8019 - val_loss: 0.2202 - val_acc: 0.9035 - val_auc: 0.8025
Epoch 99/200
34586/34586 [==============================] - 2s 57us/step - loss: 0.2369 - acc: 0.8968 - auc: 0.8031 - val_loss: 0.2327 - val_acc: 0.8977 - val_auc: 0.8036
Epoch 100/200
34586/34586 [==============================] - 2s 57us/step - loss: 0.2404 - acc: 0.8947 - auc: 0.8042 - val_loss: 0.2170 - val_acc: 0.9066 - val_auc: 0.8047
Epoch 101/200
34586/34586 [==============================] - 2s 70us/step - loss: 0.2379 - acc: 0.8966 - auc: 0.8053 - val_loss: 0.2181 - val_acc: 0.9032 - val_auc: 0.8058
Epoch 102/200
34586/34586 [==============================] - 2s 62us/step - loss: 0.2352 - acc: 0.8968 - auc: 0.8064 - val_loss: 0.2176 - val_acc: 0.9066 - val_auc: 0.8069
Epoch 103/200
34586/34586 [==============================] - 2s 56us/step - loss: 0.2401 - acc: 0.8959 - auc: 0.8074 - val_loss: 0.2203 - val_acc: 0.9074 - val_auc: 0.8080
Epoch 104/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2366 - acc: 0.8962 - auc: 0.8085 - val_loss: 0.2196 - val_acc: 0.9045 - val_auc: 0.8090
Epoch 105/200
34586/34586 [==============================] - 2s 45us/step - loss: 0.2348 - acc: 0.8964 - auc: 0.8095 - val_loss: 0.2225 - val_acc: 0.9053 - val_auc: 0.8100
Epoch 106/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2349 - acc: 0.8972 - auc: 0.8106 - val_loss: 0.2201 - val_acc: 0.9011 - val_auc: 0.8111
Epoch 107/200
34586/34586 [==============================] - 2s 49us/step - loss: 0.2347 - acc: 0.8986 - auc: 0.8116 - val_loss: 0.2219 - val_acc: 0.9014 - val_auc: 0.8121
Epoch 108/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2339 - acc: 0.8968 - auc: 0.8125 - val_loss: 0.2244 - val_acc: 0.9063 - val_auc: 0.8130
Epoch 109/200
34586/34586 [==============================] - 2s 55us/step - loss: 0.2352 - acc: 0.8963 - auc: 0.8135 - val_loss: 0.2189 - val_acc: 0.9058 - val_auc: 0.8140
Epoch 110/200
34586/34586 [==============================] - 2s 64us/step - loss: 0.2347 - acc: 0.8971 - auc: 0.8145 - val_loss: 0.2233 - val_acc: 0.9035 - val_auc: 0.8149
Epoch 111/200
34586/34586 [==============================] - 2s 57us/step - loss: 0.2356 - acc: 0.8958 - auc: 0.8154 - val_loss: 0.2194 - val_acc: 0.9027 - val_auc: 0.8158
Epoch 112/200
34586/34586 [==============================] - 1s 43us/step - loss: 0.2355 - acc: 0.8959 - auc: 0.8163 - val_loss: 0.2196 - val_acc: 0.9022 - val_auc: 0.8167
Epoch 113/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2358 - acc: 0.8979 - auc: 0.8172 - val_loss: 0.2295 - val_acc: 0.9035 - val_auc: 0.8176
Epoch 114/200
34586/34586 [==============================] - 1s 20us/step - loss: 0.2387 - acc: 0.8966 - auc: 0.8180 - val_loss: 0.2246 - val_acc: 0.9045 - val_auc: 0.8184
Epoch 115/200
34586/34586 [==============================] - 1s 20us/step - loss: 0.2332 - acc: 0.8977 - auc: 0.8188 - val_loss: 0.2383 - val_acc: 0.9042 - val_auc: 0.8192
Epoch 116/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2377 - acc: 0.8968 - auc: 0.8196 - val_loss: 0.2201 - val_acc: 0.9048 - val_auc: 0.8200
Epoch 117/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2358 - acc: 0.8959 - auc: 0.8204 - val_loss: 0.2153 - val_acc: 0.9068 - val_auc: 0.8208
Epoch 118/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2368 - acc: 0.8972 - auc: 0.8212 - val_loss: 0.2155 - val_acc: 0.9037 - val_auc: 0.8216
Epoch 119/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2321 - acc: 0.8975 - auc: 0.8220 - val_loss: 0.2184 - val_acc: 0.9022 - val_auc: 0.8224
Epoch 120/200
34586/34586 [==============================] - 1s 31us/step - loss: 0.2351 - acc: 0.8974 - auc: 0.8228 - val_loss: 0.2159 - val_acc: 0.9063 - val_auc: 0.8232
Epoch 121/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2332 - acc: 0.8976 - auc: 0.8235 - val_loss: 0.2175 - val_acc: 0.9068 - val_auc: 0.8239
Epoch 122/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2334 - acc: 0.8974 - auc: 0.8243 - val_loss: 0.2160 - val_acc: 0.9058 - val_auc: 0.8247
Epoch 123/200
34586/34586 [==============================] - 1s 31us/step - loss: 0.2326 - acc: 0.8985 - auc: 0.8250 - val_loss: 0.2203 - val_acc: 0.9040 - val_auc: 0.8254
Epoch 124/200
34586/34586 [==============================] - 1s 31us/step - loss: 0.2325 - acc: 0.8987 - auc: 0.8258 - val_loss: 0.2317 - val_acc: 0.9032 - val_auc: 0.8261
Epoch 125/200
34586/34586 [==============================] - 2s 46us/step - loss: 0.2339 - acc: 0.8979 - auc: 0.8265 - val_loss: 0.2239 - val_acc: 0.9053 - val_auc: 0.8268
Epoch 126/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2353 - acc: 0.8965 - auc: 0.8271 - val_loss: 0.2219 - val_acc: 0.9066 - val_auc: 0.8275
Epoch 127/200
34586/34586 [==============================] - 1s 22us/step - loss: 0.2354 - acc: 0.8969 - auc: 0.8278 - val_loss: 0.2189 - val_acc: 0.9029 - val_auc: 0.8281
Epoch 128/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2346 - acc: 0.8980 - auc: 0.8285 - val_loss: 0.2195 - val_acc: 0.9022 - val_auc: 0.8288
Epoch 129/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2318 - acc: 0.8981 - auc: 0.8291 - val_loss: 0.2131 - val_acc: 0.9037 - val_auc: 0.8295
Epoch 130/200
34586/34586 [==============================] - 1s 19us/step - loss: 0.2325 - acc: 0.8983 - auc: 0.8298 - val_loss: 0.2204 - val_acc: 0.9063 - val_auc: 0.8301
Epoch 131/200
34586/34586 [==============================] - 1s 31us/step - loss: 0.2329 - acc: 0.8970 - auc: 0.8304 - val_loss: 0.2203 - val_acc: 0.9003 - val_auc: 0.8308
Epoch 132/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2320 - acc: 0.8961 - auc: 0.8311 - val_loss: 0.2310 - val_acc: 0.9006 - val_auc: 0.8314
Epoch 133/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2356 - acc: 0.8978 - auc: 0.8317 - val_loss: 0.2171 - val_acc: 0.9024 - val_auc: 0.8320
Epoch 134/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2332 - acc: 0.8975 - auc: 0.8323 - val_loss: 0.2151 - val_acc: 0.9071 - val_auc: 0.8326
Epoch 135/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2333 - acc: 0.8967 - auc: 0.8329 - val_loss: 0.2181 - val_acc: 0.9066 - val_auc: 0.8332
Epoch 136/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2323 - acc: 0.8979 - auc: 0.8335 - val_loss: 0.2196 - val_acc: 0.9019 - val_auc: 0.8338
Epoch 137/200
34586/34586 [==============================] - 1s 36us/step - loss: 0.2327 - acc: 0.8975 - auc: 0.8341 - val_loss: 0.2188 - val_acc: 0.9027 - val_auc: 0.8343
Epoch 138/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2317 - acc: 0.8981 - auc: 0.8346 - val_loss: 0.2189 - val_acc: 0.9058 - val_auc: 0.8349
Epoch 139/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2312 - acc: 0.8974 - auc: 0.8352 - val_loss: 0.2155 - val_acc: 0.9024 - val_auc: 0.8355
Epoch 140/200
34586/34586 [==============================] - 1s 36us/step - loss: 0.2307 - acc: 0.8981 - auc: 0.8358 - val_loss: 0.2148 - val_acc: 0.9061 - val_auc: 0.8361
Epoch 141/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2346 - acc: 0.8962 - auc: 0.8363 - val_loss: 0.2172 - val_acc: 0.9066 - val_auc: 0.8366
Epoch 142/200
34586/34586 [==============================] - 1s 39us/step - loss: 0.2317 - acc: 0.8970 - auc: 0.8369 - val_loss: 0.2180 - val_acc: 0.9068 - val_auc: 0.8372
Epoch 143/200
34586/34586 [==============================] - 1s 31us/step - loss: 0.2319 - acc: 0.8985 - auc: 0.8374 - val_loss: 0.2236 - val_acc: 0.9022 - val_auc: 0.8377

Epoch 144/200
34586/34586 [==============================] - 2s 52us/step - loss: 0.2308 - acc: 0.8994 - auc: 0.8380 - val_loss: 0.2223 - val_acc: 0.9048 - val_auc: 0.8382
Epoch 145/200
34586/34586 [==============================] - 1s 43us/step - loss: 0.2304 - acc: 0.8989 - auc: 0.8385 - val_loss: 0.2157 - val_acc: 0.9058 - val_auc: 0.8387
Epoch 146/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2299 - acc: 0.8994 - auc: 0.8390 - val_loss: 0.2188 - val_acc: 0.9058 - val_auc: 0.8393
Epoch 147/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2343 - acc: 0.8980 - auc: 0.8395 - val_loss: 0.2231 - val_acc: 0.9029 - val_auc: 0.8397
Epoch 148/200
34586/34586 [==============================] - 1s 20us/step - loss: 0.2311 - acc: 0.8980 - auc: 0.8400 - val_loss: 0.2195 - val_acc: 0.9048 - val_auc: 0.8402
Epoch 149/200
34586/34586 [==============================] - 1s 20us/step - loss: 0.2335 - acc: 0.9002 - auc: 0.8405 - val_loss: 0.2210 - val_acc: 0.9019 - val_auc: 0.8407
Epoch 150/200
34586/34586 [==============================] - 1s 19us/step - loss: 0.2319 - acc: 0.8968 - auc: 0.8409 - val_loss: 0.2165 - val_acc: 0.9035 - val_auc: 0.8412
Epoch 151/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2287 - acc: 0.8979 - auc: 0.8414 - val_loss: 0.2244 - val_acc: 0.8980 - val_auc: 0.8417
Epoch 152/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2334 - acc: 0.8959 - auc: 0.8419 - val_loss: 0.2247 - val_acc: 0.9050 - val_auc: 0.8421
Epoch 153/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2328 - acc: 0.8969 - auc: 0.8423 - val_loss: 0.2162 - val_acc: 0.9040 - val_auc: 0.8426
Epoch 154/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2303 - acc: 0.8982 - auc: 0.8428 - val_loss: 0.2235 - val_acc: 0.9014 - val_auc: 0.8430
Epoch 155/200
34586/34586 [==============================] - 2s 48us/step - loss: 0.2296 - acc: 0.8989 - auc: 0.8433 - val_loss: 0.2156 - val_acc: 0.9058 - val_auc: 0.8435
Epoch 156/200
34586/34586 [==============================] - 2s 52us/step - loss: 0.2317 - acc: 0.8982 - auc: 0.8437 - val_loss: 0.2276 - val_acc: 0.9027 - val_auc: 0.8439
Epoch 157/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2300 - acc: 0.8983 - auc: 0.8441 - val_loss: 0.2261 - val_acc: 0.9006 - val_auc: 0.8444
Epoch 158/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2316 - acc: 0.8988 - auc: 0.8446 - val_loss: 0.2161 - val_acc: 0.9079 - val_auc: 0.8448
Epoch 159/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2311 - acc: 0.8961 - auc: 0.8450 - val_loss: 0.2136 - val_acc: 0.9058 - val_auc: 0.8452
Epoch 160/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2327 - acc: 0.8979 - auc: 0.8454 - val_loss: 0.2151 - val_acc: 0.9066 - val_auc: 0.8456
Epoch 161/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2313 - acc: 0.8984 - auc: 0.8458 - val_loss: 0.2217 - val_acc: 0.9061 - val_auc: 0.8460
Epoch 162/200
34586/34586 [==============================] - 1s 33us/step - loss: 0.2299 - acc: 0.8995 - auc: 0.8462 - val_loss: 0.2164 - val_acc: 0.9055 - val_auc: 0.8464
Epoch 163/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2289 - acc: 0.8989 - auc: 0.8466 - val_loss: 0.2144 - val_acc: 0.9081 - val_auc: 0.8469
Epoch 164/200
34586/34586 [==============================] - 1s 35us/step - loss: 0.2284 - acc: 0.8985 - auc: 0.8471 - val_loss: 0.2201 - val_acc: 0.9071 - val_auc: 0.8473
Epoch 165/200
34586/34586 [==============================] - 1s 28us/step - loss: 0.2298 - acc: 0.8989 - auc: 0.8475 - val_loss: 0.2215 - val_acc: 0.9032 - val_auc: 0.8477
Epoch 166/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2309 - acc: 0.8982 - auc: 0.8479 - val_loss: 0.2223 - val_acc: 0.9016 - val_auc: 0.8480
Epoch 167/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2304 - acc: 0.8993 - auc: 0.8482 - val_loss: 0.2174 - val_acc: 0.9050 - val_auc: 0.8484
Epoch 168/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2290 - acc: 0.8994 - auc: 0.8486 - val_loss: 0.2141 - val_acc: 0.9076 - val_auc: 0.8488
Epoch 169/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2298 - acc: 0.8993 - auc: 0.8490 - val_loss: 0.2162 - val_acc: 0.9040 - val_auc: 0.8492
Epoch 170/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2276 - acc: 0.9008 - auc: 0.8494 - val_loss: 0.2148 - val_acc: 0.9074 - val_auc: 0.8496
Epoch 171/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2268 - acc: 0.9002 - auc: 0.8498 - val_loss: 0.2124 - val_acc: 0.9063 - val_auc: 0.8500
Epoch 172/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2292 - acc: 0.8995 - auc: 0.8502 - val_loss: 0.2192 - val_acc: 0.9050 - val_auc: 0.8504
Epoch 173/200
34586/34586 [==============================] - 1s 21us/step - loss: 0.2306 - acc: 0.8991 - auc: 0.8505 - val_loss: 0.2161 - val_acc: 0.9050 - val_auc: 0.8507
Epoch 174/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2318 - acc: 0.8986 - auc: 0.8509 - val_loss: 0.2149 - val_acc: 0.9058 - val_auc: 0.8511
Epoch 175/200
34586/34586 [==============================] - 1s 30us/step - loss: 0.2299 - acc: 0.9003 - auc: 0.8512 - val_loss: 0.2150 - val_acc: 0.9071 - val_auc: 0.8514
Epoch 176/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2270 - acc: 0.9011 - auc: 0.8516 - val_loss: 0.2162 - val_acc: 0.9024 - val_auc: 0.8518
Epoch 177/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2282 - acc: 0.8991 - auc: 0.8520 - val_loss: 0.2173 - val_acc: 0.9048 - val_auc: 0.8521
Epoch 178/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2285 - acc: 0.9002 - auc: 0.8523 - val_loss: 0.2160 - val_acc: 0.9076 - val_auc: 0.8525
Epoch 179/200
34586/34586 [==============================] - 1s 29us/step - loss: 0.2278 - acc: 0.9005 - auc: 0.8526 - val_loss: 0.2181 - val_acc: 0.9076 - val_auc: 0.8528
Epoch 180/200
34586/34586 [==============================] - 1s 39us/step - loss: 0.2257 - acc: 0.8992 - auc: 0.8530 - val_loss: 0.2219 - val_acc: 0.8983 - val_auc: 0.8532
Epoch 181/200
34586/34586 [==============================] - 1s 36us/step - loss: 0.2272 - acc: 0.9003 - auc: 0.8533 - val_loss: 0.2226 - val_acc: 0.9040 - val_auc: 0.8535
Epoch 182/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2272 - acc: 0.8994 - auc: 0.8537 - val_loss: 0.2141 - val_acc: 0.9063 - val_auc: 0.8538
Epoch 183/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2266 - acc: 0.9004 - auc: 0.8540 - val_loss: 0.2169 - val_acc: 0.9061 - val_auc: 0.8542
Epoch 184/200
34586/34586 [==============================] - 1s 42us/step - loss: 0.2275 - acc: 0.8991 - auc: 0.8543 - val_loss: 0.2152 - val_acc: 0.9068 - val_auc: 0.8545
Epoch 185/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2263 - acc: 0.8996 - auc: 0.8547 - val_loss: 0.2147 - val_acc: 0.9074 - val_auc: 0.8548
Epoch 186/200
34586/34586 [==============================] - 1s 35us/step - loss: 0.2273 - acc: 0.8985 - auc: 0.8550 - val_loss: 0.2202 - val_acc: 0.9042 - val_auc: 0.8552
Epoch 187/200
34586/34586 [==============================] - 1s 38us/step - loss: 0.2278 - acc: 0.9000 - auc: 0.8553 - val_loss: 0.2134 - val_acc: 0.9071 - val_auc: 0.8555
Epoch 188/200
34586/34586 [==============================] - 1s 34us/step - loss: 0.2259 - acc: 0.9005 - auc: 0.8556 - val_loss: 0.2157 - val_acc: 0.9092 - val_auc: 0.8558
Epoch 189/200
34586/34586 [==============================] - 1s 37us/step - loss: 0.2273 - acc: 0.8996 - auc: 0.8559 - val_loss: 0.2128 - val_acc: 0.9037 - val_auc: 0.8561
Epoch 190/200
34586/34586 [==============================] - 1s 36us/step - loss: 0.2272 - acc: 0.8995 - auc: 0.8563 - val_loss: 0.2233 - val_acc: 0.9102 - val_auc: 0.8564
Epoch 191/200

34586/34586 [==============================] - 1s 29us/step - loss: 0.2269 - acc: 0.9004 - auc: 0.8566 - val_loss: 0.2300 - val_acc: 0.8998 - val_auc: 0.8567
Epoch 192/200
34586/34586 [==============================] - 1s 28us/step - loss: 0.2253 - acc: 0.9002 - auc: 0.8568 - val_loss: 0.2194 - val_acc: 0.9048 - val_auc: 0.8570
Epoch 193/200
34586/34586 [==============================] - 1s 23us/step - loss: 0.2277 - acc: 0.8998 - auc: 0.8572 - val_loss: 0.2175 - val_acc: 0.9035 - val_auc: 0.8573
Epoch 194/200
34586/34586 [==============================] - 1s 27us/step - loss: 0.2279 - acc: 0.8985 - auc: 0.8574 - val_loss: 0.2184 - val_acc: 0.9053 - val_auc: 0.8576
Epoch 195/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2255 - acc: 0.9010 - auc: 0.8577 - val_loss: 0.2120 - val_acc: 0.9068 - val_auc: 0.8579
Epoch 196/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2257 - acc: 0.9002 - auc: 0.8580 - val_loss: 0.2185 - val_acc: 0.9045 - val_auc: 0.8582
Epoch 197/200
34586/34586 [==============================] - 1s 26us/step - loss: 0.2276 - acc: 0.8998 - auc: 0.8583 - val_loss: 0.2115 - val_acc: 0.9089 - val_auc: 0.8585
Epoch 198/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2250 - acc: 0.9003 - auc: 0.8586 - val_loss: 0.2157 - val_acc: 0.9066 - val_auc: 0.8587
Epoch 199/200
34586/34586 [==============================] - 1s 25us/step - loss: 0.2287 - acc: 0.9006 - auc: 0.8589 - val_loss: 0.2220 - val_acc: 0.9035 - val_auc: 0.8590
Epoch 200/200
34586/34586 [==============================] - 1s 24us/step - loss: 0.2243 - acc: 0.9001 - auc: 0.8592 - val_loss: 0.2203 - val_acc: 0.9068 - val_auc: 0.8593

# Save model

In [25]:
# Save the model in h5 format
model.save("../../bank-marketing-keras-nn.h5")

In [26]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 16)                672
_________________________________________________________________
dropout_1 (Dropout)          (None, 16)                0
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 136
_________________________________________________________________
dropout_2 (Dropout)          (None, 8)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 5
=================================================================
Total params: 849
Trainable params: 849
Non-trainable params: 0
_________________________________________________________________

# Evaluation

In [27]:
y_pred = model.predict(X_test)

In [29]:
y_pred[y_pred <= 0.5] = 0.
y_pred[y_pred > 0.5] = 1.

In [30]:
y_pred.tolist()

[[0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [1.0],
 [1.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [0.0],
 [1.0],
 ...]

# Outcome data

In [ ]:
#https://towardsdatascience.com/deploying-keras-deep-learning-models-with-flask-5da4181436a2

In [204]:
(df.head(1))

,age,job,marital,education,default,balance,housing,loan,contact,day,...,month_aug,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,1,0,0,0

In [205]:
input_df = pd.DataFrame()

In [206]:
col_names = ['age', 'job', 'marital',
             'education', 'default', 'balance', 
             'housing', 'loan', 'contact',
             'day', 'month', 'duration',
             'campaign', 'pdays', 'previous', 
             'poutcome']
input_vec = [58, 'management', 'married', 'tertiary', 'no', 2143, 
            'yes', 'no', 'unknown', 5, 'may', 261, 1, -1, 0, 'unknown']

In [207]:
input_df = pd.DataFrame(input_vec, col_names)

In [208]:
input_df = input_df.transpose()

In [209]:
job_list = ['job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 
          'job_management', 'job_retired',
       'job_self-employed', 'job_services', 
          'job_student', 'job_technician',
       'job_unemployed'] 
for job in job_list:
    input_df[job] = 0

In [210]:
marital_list = ['marital_divorced', 'marital_married', 'marital_single']
for marital in marital_list:
    input_df[marital] = 0

In [211]:
edu_list = ['education_primary', 'education_secondary', 'education_tertiary']
for edu in edu_list:
    input_df[edu] = 0

In [212]:
def_list = ['default_yes']
for default in def_list:
    input_df[default] = 0

In [213]:
loan_list = ['loan_yes']
for loan in loan_list:
    input_df[loan] = 0

In [214]:
cont_list = [ 'contact_cellular', 'contact_telephone']
for cont in cont_list:
    input_df[cont] = 0

In [215]:
pout_list = ['poutcome_failure', 'poutcome_other', 'poutcome_success']
for pout in pout_list:
    input_df[pout] = 0

In [217]:
month_list = ['month_apr', 'month_aug', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep']
for month in month_list:
    input_df[month] = 0

In [218]:
def determine_marital(input_df):
    if input_df['marital'][0]=="divorced":
        input_df['marital_divorced'] = 1 
    elif input_df['marital'][0]=="married":
        input_df['marital_married'] = 1
    elif input_df['marital'][0]=="single":
        input_df['marital_single']= 1
    else:
        pass

In [219]:
def determine_job(input_df):
    if input_df['job'][0]=="admin.":
        input_df['job_admin.'] = 1 
    elif input_df['job'][0]=="unemployed":
        input_df['job_unemployed'] = 1
    elif input_df['job'][0]=="management":
        input_df['job_management']= 1
    elif input_df['job'][0]=="housemaid":
        input_df['job_housemaid']=1
    elif input_df['job'][0]=="entrepreneur":
        input_df['job_entrepreneur']=1 
    elif input_df['job'][0]=="student":
        input_df['job_student']=1 
    elif input_df['job'][0]=="blue-collar":
        input_df['job_blue-collar']=1 
    elif input_df['job'][0]=="self-employed":
        input_df['job_self-employed']=1 
    elif input_df['job'][0]=="retired":
        input_df['job_retired']=1 
    elif input_df['job'][0]=="technician":
        input_df['job_technician']=1 
    elif input_df['job'][0]=="services":
        input_df[ 'job_services']=1 
    else:
        pass

In [220]:
#'education_primary', 'education_secondary', 'education_tertiary'
def determine_edu(input_df):
    if input_df['job'][0]=="primary":
        input_df['education_primary'] = 1 
    elif input_df['job'][0]=="secondary":
        input_df['education_secondary'] = 1
    elif input_df['job'][0]=="tertiary":
        input_df['education_tertiary']= 1
    else:
        pass

In [221]:
def determine_default(input_df):
    if input_df['default'][0]=="yes":
        input_df['def_yes'] = 1 
    else:
        pass

In [222]:
def determine_loan(input_df):
    if input_df['loan'][0]=="yes":
        input_df['loan_yes'] = 1 
    else:
        pass

In [223]:
# 'contact_cellular', 'contact_telephone'
def determine_contact(input_df):
    if input_df['contact'][0]=="cellular":
        input_df['contact_cellular'] = 1 
    elif input_df['contact'][0]=="telephone":
        input_df['contact_telephone'] = 1 
    else:
        pass

In [224]:
# 'poutcome_failure', 'poutcome_other', 'poutcome_success'
def determine_poutcome(input_df):
    if input_df['poutcome'][0]=="failure":
        input_df['poutcome_failure'] = 1 
    elif input_df['poutcome'][0]=="other":
        input_df['poutcome_other'] = 1 
    elif input_df['poutcome'][0]=="success":
        input_df['poutcome_success'] = 1 
    else:
        pass

In [225]:

def determine_month(input_df):
    if input_df['month'][0]=="aug":
        input_df['month_aug'] = 1 
    elif input_df['month'][0]=="feb":
        input_df['month_feb'] = 1 
    elif input_df['month'][0]=="jan":
        input_df['month_jan'] = 1 
        
    elif input_df['month'][0]=="jul":
        input_df['month_jul'] = 1 
    elif input_df['month'][0]=="jun":
        input_df['month_jun'] = 1 
    elif input_df['month'][0]=="mar":
        input_df['month_mar'] = 1 
        
    elif input_df['month'][0]=="may":
        input_df['month_may'] = 1 
    elif input_df['month'][0]=="nov":
        input_df['month_nov'] = 1 
    elif input_df['month'][0]=="oct":
        input_df['month_oct'] = 1 
        
    elif input_df['month'][0]=="sep":
        input_df['month_sep'] = 1 
    elif input_df['month'][0]=="apr":
        input_df['month_apr'] = 1 
    else:
        pass

In [226]:
input_df = input_df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays',
       'previous', 'job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'default_yes', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'poutcome_failure', 'poutcome_other', 'poutcome_success', 'month_apr',
       'month_aug', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep']]

In [228]:
input_df = input_df.as_matrix()

In [241]:
import keras
from keras.models import load_model
mdl = load_model('bank-marketing-keras-nn.h5', custom_objects={'auc': auc})

In [230]:
y_pred = mdl.predict(input_df)
y_pred[y_pred <= 0.5] = 0.
y_pred[y_pred > 0.5] = 1.

In [234]:
y_pred.tolist()[0][0]

0.0

In [237]:
def convert_to_yn(input_char):
    if input_char == 0:
        return 'no'
    else:
        return 'yes'

In [238]:
convert_to_yn(y_pred.tolist()[0][0])

'no'